.mediaViewInfo {
	--web-view-name: Cold palmer;
	--web-view-id: Cold_palmer;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: width;
	--web-enable-scale-up: true;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: Cold_palmer;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
.Cold_palmer_Class {
	position: absolute;
	width: 1280px;
	height: 2390px;
	background-color: rgba(255,255,255,1);
	overflow: hidden;
	--web-view-name: Cold palmer;
	--web-view-id: Cold_palmer;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: width;
	--web-enable-scale-up: true;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
@keyframes fadein {

	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}

}
@keyframes  {


}
@keyframes  {


}
@keyframes  {


}
@keyframes  {


}
.aaa_Class {
	position: absolute;
	width: 1075px;
	height: 344.376px;
	left: 105px;
	top: 1917.706px;
	overflow: visible;
}
.aab_Class {
	position: absolute;
	width: 889px;
	height: 95px;
	left: 90px;
	top: 242.294px;
	overflow: visible;
}
.aac_Class {
	position: absolute;
	width: 145px;
	height: 80px;
	left: 744px;
	top: 7px;
	overflow: visible;
}
.aad_Class {
	border: 0;
	left: 0px;
	top: 56px;
	position: absolute;
	overflow: visible;
	width: 146px;
	white-space: nowrap;
	line-height: 35px;
	margin-top: -7.5px;
	text-align: left;
	font-family: SF Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(0,51,160,1);
}
.aae_Class {
	border: 0;
	left: 37px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 72px;
	white-space: nowrap;
	text-align: left;
	font-family: SF Pro;
	font-style: normal;
	font-weight: bold;
	font-size: 35px;
	color: rgba(0,0,0,1);
}
.aaf_Class {
	position: absolute;
	width: 137px;
	height: 80px;
	left: 475px;
	top: 7px;
	overflow: visible;
}
.aag_Class {
	border: 0;
	left: 0px;
	top: 56px;
	position: absolute;
	overflow: visible;
	width: 138px;
	white-space: nowrap;
	line-height: 35px;
	margin-top: -7.5px;
	text-align: left;
	font-family: SF Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(0,51,160,1);
}
.aah_Class {
	border: 0;
	left: 21px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 96px;
	white-space: nowrap;
	text-align: left;
	font-family: SF Pro;
	font-style: normal;
	font-weight: bold;
	font-size: 35px;
	color: rgba(0,0,0,1);
}
.aai_Class {
	position: absolute;
	width: 54px;
	height: 80px;
	left: 260px;
	top: 7px;
	overflow: visible;
}
.aaj_Class {
	border: 0;
	left: 0px;
	top: 56px;
	position: absolute;
	overflow: visible;
	width: 55px;
	white-space: nowrap;
	line-height: 35px;
	margin-top: -7.5px;
	text-align: left;
	font-family: SF Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(0,51,160,1);
}
.aak_Class {
	border: 0;
	left: 8px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 39px;
	white-space: nowrap;
	text-align: left;
	font-family: SF Pro;
	font-style: normal;
	font-weight: bold;
	font-size: 35px;
	color: rgba(0,0,0,1);
}
.aal_Class {
	position: absolute;
	width: 118px;
	height: 80px;
	left: 0px;
	top: 7px;
	overflow: visible;
}
.aam_Class {
	border: 0;
	left: 0px;
	top: 56px;
	position: absolute;
	overflow: visible;
	width: 119px;
	white-space: nowrap;
	line-height: 35px;
	margin-top: -7.5px;
	text-align: left;
	font-family: SF Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(0,51,160,1);
}
.aan_Class {
	border: 0;
	left: 40px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 39px;
	white-space: nowrap;
	text-align: left;
	font-family: SF Pro;
	font-style: normal;
	font-weight: bold;
	font-size: 35px;
	color: rgba(0,0,0,1);
}
.aao_Class {
	position: absolute;
	width: 513px;
	height: 95px;
	left: 173.5px;
	top: 0px;
	overflow: visible;
}
.aap_Class {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.aap {
	overflow: visible;
	position: absolute;
	width: 1px;
	height: 94px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
.aaq_Class {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.aaq {
	overflow: visible;
	position: absolute;
	width: 1px;
	height: 94px;
	left: 228px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
.aar_Class {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.aar {
	overflow: visible;
	position: absolute;
	width: 1px;
	height: 94px;
	left: 513px;
	top: 1px;
	transform: matrix(1,0,0,1,0,0);
}
.aas_Class {
	position: absolute;
	width: 984px;
	height: 114.33px;
	left: 43px;
	top: 230.046px;
	overflow: visible;
}
.aat_Class {
	fill: transparent;
}
.aat {
	position: absolute;
	overflow: visible;
	width: 221px;
	height: 114px;
	left: 0px;
	top: 0.248px;
}
.aau_Class {
	fill: transparent;
}
.aau {
	position: absolute;
	overflow: visible;
	width: 229px;
	height: 114px;
	left: 220px;
	top: 0.248px;
}
.aav_Class {
	fill: transparent;
}
.aav {
	overflow: visible;
	position: absolute;
	width: 286px;
	height: 114.33px;
	left: 448px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
.aaw_Class {
	fill: transparent;
}
.aaw {
	overflow: visible;
	position: absolute;
	width: 251px;
	height: 114.33px;
	left: 733px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
.aax_Class {
	position: absolute;
	width: 1045.5px;
	height: 57.5px;
	left: 29.5px;
	top: 140.294px;
	overflow: visible;
}
.aay_Class {
	position: absolute;
	width: 234px;
	height: 53px;
	left: 811.5px;
	top: 0px;
	overflow: visible;
	transition: all 0.30000001192092896s ease-out;
	--web-animation: fadein 0.30000001192092896s ease-out;
	--web-action-type: page;
	--web-action-target: goal.html;
	cursor: pointer;
}
.aaz_Class {
	border: 0;
	left: 57px;
	top: 12.706px;
	position: absolute;
	overflow: visible;
	width: 126px;
	white-space: nowrap;
	text-align: left;
	font-family: SF Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 23px;
	color: rgba(62,62,62,1);
}
.aba_Class {
	fill: transparent;
}
.aba {
	position: absolute;
	overflow: visible;
	width: 234px;
	height: 53px;
	left: 0px;
	top: 0px;
}
.abb_Class {
	position: absolute;
	width: 176px;
	height: 53px;
	left: 636.5px;
	top: 0px;
	overflow: visible;
	transition: all 0.30000001192092896s ease-out;
	--web-animation: fadein 0.30000001192092896s ease-out;
	--web-action-type: page;
	--web-action-target: dici.html;
	cursor: pointer;
}
.abc_Class {
	border: 0;
	left: 51px;
	top: 12.706px;
	position: absolute;
	overflow: visible;
	width: 76px;
	white-space: nowrap;
	text-align: left;
	font-family: SF Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 23px;
	color: rgba(62,62,62,1);
}
.abd_Class {
	fill: transparent;
}
.abd {
	position: absolute;
	overflow: visible;
	width: 176px;
	height: 53px;
	left: 0px;
	top: 0px;
}
.abe_Class {
	position: absolute;
	width: 211px;
	height: 53px;
	left: 227.5px;
	top: 0px;
	overflow: visible;
	transition: all 0.30000001192092896s ease-out;
	--web-animation: fadein 0.30000001192092896s ease-out;
	--web-action-type: page;
	--web-action-target: touch.html;
	cursor: pointer;
}
.abf_Class {
	border: 0;
	left: 52px;
	top: 12.706px;
	position: absolute;
	overflow: visible;
	width: 108px;
	white-space: nowrap;
	text-align: left;
	font-family: SF Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 23px;
	color: rgba(62,62,62,1);
}
.abg_Class {
	fill: transparent;
}
.abg {
	position: absolute;
	overflow: visible;
	width: 211px;
	height: 53px;
	left: 0px;
	top: 0px;
}
.abh_Class {
	position: absolute;
	width: 200px;
	height: 53px;
	left: 437.5px;
	top: 0px;
	overflow: visible;
	transition: all 0.30000001192092896s ease-out;
	--web-animation: fadein 0.30000001192092896s ease-out;
	--web-action-type: page;
	--web-action-target: pass.html;
	cursor: pointer;
}
.abi_Class {
	border: 0;
	left: 58px;
	top: 12.706px;
	position: absolute;
	overflow: visible;
	width: 85px;
	white-space: nowrap;
	text-align: left;
	font-family: SF Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 23px;
	color: rgba(62,62,62,1);
}
.abj_Class {
	fill: transparent;
}
.abj {
	position: absolute;
	overflow: visible;
	width: 200px;
	height: 53px;
	left: 0px;
	top: 0px;
}
.abk_Class {
	position: absolute;
	width: 228.5px;
	height: 57.5px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.abl_Class {
	border: 0;
	left: 34px;
	top: 12.706px;
	position: absolute;
	overflow: visible;
	width: 162px;
	white-space: nowrap;
	text-align: left;
	font-family: SF Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 23px;
	color: rgba(62,62,62,1);
}
.abm_Class {
	fill: transparent;
}
.abm {
	position: absolute;
	overflow: visible;
	width: 228px;
	height: 53px;
	left: 0.5px;
	top: 0px;
}
.abn_Class {
	fill: transparent;
	stroke: rgba(24,61,213,1);
	stroke-width: 3px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.abn {
	overflow: visible;
	position: absolute;
	width: 228px;
	height: 3px;
	left: 0px;
	top: 57.5px;
	transform: matrix(1,0,0,1,0,0);
}
.abo_Class {
	position: absolute;
	width: 1067px;
	height: 80px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.abp_Class {
	border: 0;
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 432px;
	white-space: nowrap;
	text-align: left;
	font-family: Graphik Compact Trial;
	font-style: normal;
	font-weight: bold;
	font-size: 80px;
	color: rgba(0,51,160,1);
	letter-spacing: 0.5px;
}
.abq_Class {
	position: absolute;
	width: 320px;
	height: 38px;
	left: 557px;
	top: 33.294px;
	overflow: visible;
}
.abr_Class {
	position: absolute;
	width: 320px;
	height: 38px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.abs_Class {
	fill: rgba(255,255,255,1);
	stroke: rgba(168,168,168,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.abs {
	position: absolute;
	overflow: visible;
	width: 322px;
	height: 40px;
	left: 0px;
	top: 0px;
}
.abt_Class {
	position: absolute;
	width: 15px;
	height: 15px;
	left: 295px;
	top: 12px;
	overflow: visible;
}
.abu_Class {
	fill: transparent;
}
.abu {
	position: absolute;
	overflow: visible;
	width: 15px;
	height: 15px;
	left: 0px;
	top: 0px;
}
.abv_Class {
	fill: transparent;
	stroke: rgba(52,58,64,1);
	stroke-width: 1px;
	stroke-linejoin: round;
	stroke-linecap: round;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.abv {
	overflow: visible;
	position: absolute;
	width: 10.026px;
	height: 5.578px;
	left: 3px;
	top: 5px;
	transform: matrix(1,0,0,1,0,0);
}
.abw_Class {
	border: 0;
	left: 14px;
	top: 11px;
	position: absolute;
	overflow: visible;
	width: 101px;
	white-space: nowrap;
	line-height: 24px;
	margin-top: -4px;
	text-align: left;
	font-family: Graphik Compact Trial;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(134,142,150,1);
}
.abx_Class {
	position: absolute;
	width: 138px;
	height: 38px;
	left: 929px;
	top: 33.294px;
	overflow: visible;
}
.aby_Class {
	fill: rgba(255,255,255,1);
}
.aby {
	position: absolute;
	overflow: visible;
	width: 138px;
	height: 38px;
	left: 0px;
	top: 0px;
}
.abz_Class {
	border: 0;
	left: 10px;
	top: 13px;
	position: absolute;
	overflow: visible;
	width: 47px;
	white-space: nowrap;
	text-align: left;
	font-family: Graphik Compact Trial;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(100,100,100,1);
}
.aca_Class {
	fill: transparent;
}
.aca {
	position: absolute;
	overflow: visible;
	width: 15px;
	height: 15px;
	left: 115px;
	top: 12px;
}
.acb_Class {
	fill: transparent;
}
.acb {
	overflow: visible;
	position: absolute;
	width: 8.612px;
	height: 4.371px;
	left: 118px;
	top: 17px;
	transform: matrix(1,0,0,1,0,0);
}
.acc_Class {
	fill: transparent;
	stroke: rgba(0,51,160,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.acc {
	overflow: visible;
	position: absolute;
	width: 131px;
	height: 2px;
	left: 929.5px;
	top: 71.794px;
	transform: matrix(1,0,0,1,0,0);
}
.acd_Class {
	fill: rgba(24,61,213,1);
}
.acd {
	position: absolute;
	overflow: visible;
	width: 892px;
	height: 3px;
	left: 388px;
	top: 1823px;
}
.ace_Class {
	position: absolute;
	width: 1108.321px;
	height: 364.294px;
	left: 85.84px;
	top: 1367px;
	overflow: visible;
}
.acf_Class {
	position: absolute;
	width: 1108.321px;
	height: 93.294px;
	left: 0px;
	top: 271px;
	overflow: visible;
	--web-animation: fadein undefineds undefined;
	--web-action-type: page;
	--web-action-target: inter.html;
	cursor: pointer;
}
.acg_Class {
	border: 0;
	left: 8.969px;
	top: 24.957px;
	position: absolute;
	overflow: visible;
	width: 334px;
	white-space: nowrap;
	line-height: 63px;
	margin-top: -13.5px;
	text-align: left;
	font-family: SF Pro;
	font-style: normal;
	font-weight: bold;
	font-size: 36px;
	color: rgba(0,51,160,1);
}
.ach_Class {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.ach {
	overflow: visible;
	position: absolute;
	width: 1108.321px;
	height: 1px;
	left: 0px;
	top: 93.294px;
	transform: matrix(1,0,0,1,0,0);
}
.aci_Class {
	fill: rgba(1,51,160,1);
}
.aci {
	overflow: visible;
	position: absolute;
	width: 19.816px;
	height: 19.342px;
	left: 1073.954px;
	top: 39.784px;
	transform: matrix(1,0,0,1,0,0);
}
.acj_Class {
	fill: transparent;
}
.acj {
	position: absolute;
	overflow: visible;
	width: 1108px;
	height: 92px;
	left: 0.16px;
	top: 0px;
}
.ack_Class {
	position: absolute;
	width: 1108.321px;
	height: 92px;
	left: 0px;
	top: 181px;
	overflow: visible;
	--web-animation: fadein undefineds undefined;
	--web-action-type: page;
	--web-action-target: pre.html;
	cursor: pointer;
}
.acl_Class {
	border: 0;
	left: 9.789px;
	top: 23.305px;
	position: absolute;
	overflow: visible;
	width: 209px;
	white-space: nowrap;
	line-height: 63px;
	margin-top: -13.5px;
	text-align: left;
	font-family: SF Pro;
	font-style: normal;
	font-weight: bold;
	font-size: 36px;
	color: rgba(0,51,160,1);
}
.acm_Class {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.acm {
	overflow: visible;
	position: absolute;
	width: 1108.321px;
	height: 1px;
	left: 0px;
	top: 91.642px;
	transform: matrix(1,0,0,1,0,0);
}
.acn_Class {
	fill: rgba(1,51,160,1);
}
.acn {
	overflow: visible;
	position: absolute;
	width: 19.816px;
	height: 19.342px;
	left: 1073.954px;
	top: 38.131px;
	transform: matrix(1,0,0,1,0,0);
}
.aco_Class {
	fill: transparent;
}
.aco {
	position: absolute;
	overflow: visible;
	width: 1108px;
	height: 92px;
	left: 0.16px;
	top: 0px;
}
.acp_Class {
	position: absolute;
	width: 1108.16px;
	height: 92px;
	left: 0.16px;
	top: 89px;
	overflow: visible;
	--web-animation: fadein undefineds undefined;
	--web-action-type: page;
	--web-action-target: 2425.html;
	cursor: pointer;
}
.acq_Class {
	border: 0;
	left: 10.05px;
	top: 23.652px;
	position: absolute;
	overflow: visible;
	width: 156px;
	white-space: nowrap;
	line-height: 63px;
	margin-top: -13.5px;
	text-align: left;
	font-family: SF Pro;
	font-style: normal;
	font-weight: bold;
	font-size: 36px;
	color: rgba(0,51,160,1);
}
.acr_Class {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.acr {
	overflow: visible;
	position: absolute;
	width: 1107.867px;
	height: 1px;
	left: 0.293px;
	top: 91.99px;
	transform: matrix(1,0,0,1,0,0);
}
.acs_Class {
	fill: rgba(1,51,160,1);
}
.acs {
	overflow: visible;
	position: absolute;
	width: 19.816px;
	height: 19.342px;
	left: 1073.793px;
	top: 38.479px;
	transform: matrix(1,0,0,1,0,0);
}
.act_Class {
	fill: transparent;
}
.act {
	position: absolute;
	overflow: visible;
	width: 1108px;
	height: 92px;
	left: 0px;
	top: 0px;
}
.acu_Class {
	position: absolute;
	width: 1108.16px;
	height: 92px;
	left: 0.16px;
	top: 0px;
	overflow: visible;
	--web-animation: fadein undefineds undefined;
	--web-action-type: page;
	--web-action-target: 2324.html;
	cursor: pointer;
}
.acv_Class {
	border: 0;
	left: 9.629px;
	top: 21px;
	position: absolute;
	overflow: visible;
	width: 1005px;
	height: 43px;
	line-height: 63px;
	margin-top: -13.5px;
	text-align: left;
	font-family: SF Pro;
	font-style: normal;
	font-weight: bold;
	font-size: 36px;
	color: rgba(0,51,160,1);
}
.acw_Class {
	fill: rgba(1,51,160,1);
}
.acw {
	overflow: visible;
	position: absolute;
	width: 19.816px;
	height: 19.342px;
	left: 1073.793px;
	top: 36.11px;
	transform: matrix(1,0,0,1,0,0);
}
.acx_Class {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.acx {
	overflow: visible;
	position: absolute;
	width: 1107.867px;
	height: 1px;
	left: 0.293px;
	top: 89.337px;
	transform: matrix(1,0,0,1,0,0);
}
.acy_Class {
	fill: transparent;
}
.acy {
	position: absolute;
	overflow: visible;
	width: 1108px;
	height: 92px;
	left: 0px;
	top: 0px;
}
.acz_Class {
	position: absolute;
	width: 1211px;
	height: 461px;
	left: 0px;
	top: 861px;
	overflow: visible;
}
.ada_Class {
	position: absolute;
	width: 723px;
	height: 374px;
	left: 488px;
	top: 8px;
	overflow: visible;
}
.adb_Class {
	border: 0;
	left: 0px;
	top: 108px;
	position: absolute;
	overflow: visible;
	width: 713px;
	height: 266px;
	line-height: 35px;
	margin-top: -8.5px;
	text-align: left;
	font-family: SF Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(105,105,105,1);
}
.adc_Class {
	border: 0;
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 724px;
	height: 74px;
	line-height: 40px;
	margin-top: -6px;
	text-align: left;
	font-family: SF Pro;
	font-style: normal;
	font-weight: bold;
	font-size: 28px;
	color: rgba(0,51,160,1);
}
.add_Class {
	position: absolute;
	width: 892px;
	height: 461px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.ade_Class {
	position: absolute;
	width: 305px;
	height: 458px;
	left: 67px;
	top: 0px;
	overflow: visible;
}
.adf_Class {
	fill: rgba(24,61,213,1);
}
.adf {
	position: absolute;
	overflow: visible;
	width: 892px;
	height: 3px;
	left: 0px;
	top: 458px;
}
.adg_Class {
	position: absolute;
	width: 1280px;
	height: 722.808px;
	left: 0px;
	top: 70.151px;
	overflow: visible;
}
.adh_Class {
	fill: rgba(5,20,131,1);
}
.adh {
	overflow: visible;
	position: absolute;
	width: 1280px;
	height: 722.808px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
.adi_Class {
	opacity: 0.846;
	position: absolute;
	width: 1280px;
	height: 720.818px;
	left: 0px;
	top: 1.99px;
	overflow: visible;
}
.adj_Class {
	position: absolute;
	width: 1026px;
	height: 248px;
	left: 105px;
	top: 340.849px;
	overflow: visible;
}
.adk_Class {
	border: 0;
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 800px;
	white-space: nowrap;
	text-align: left;
	font-family: Graphik Compact Trial;
	font-style: normal;
	font-weight: bold;
	font-size: 60px;
	color: rgba(255,255,255,1);
	letter-spacing: 0.8px;
}
.adl_Class {
	fill: rgba(255,255,255,1);
}
.adl {
	position: absolute;
	overflow: visible;
	width: 1026px;
	height: 3px;
	left: 0px;
	top: 245px;
}
.adm_Class {
	position: absolute;
	width: 1280px;
	height: 82px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.adn_Class {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.adn {
	position: absolute;
	overflow: visible;
	width: 1280px;
	height: 73px;
	left: 0px;
	top: 0px;
}
.ado_Class {
	position: absolute;
	width: 701px;
	height: 72px;
	left: 579px;
	top: 10px;
	overflow: visible;
}
.adp_Class {
	position: absolute;
	width: 126px;
	height: 72px;
	left: 575px;
	top: 0px;
	overflow: visible;
}
.adq_Class {
	border: 0;
	left: 42px;
	top: 27px;
	position: absolute;
	overflow: visible;
	width: 44px;
	white-space: nowrap;
	text-align: left;
	font-family: SF Pro;
	font-style: normal;
	font-weight: bold;
	font-size: 15px;
	color: rgba(0,0,0,1);
}
.adr_Class {
	fill: transparent;
}
.adr {
	position: absolute;
	overflow: visible;
	width: 126px;
	height: 72px;
	left: 0px;
	top: 0px;
}
.ads_Class {
	position: absolute;
	width: 137px;
	height: 72px;
	left: 438px;
	top: 0px;
	overflow: visible;
}
.adt_Class {
	border: 0;
	left: 34px;
	top: 27px;
	position: absolute;
	overflow: visible;
	width: 70px;
	white-space: nowrap;
	text-align: left;
	font-family: SF Pro;
	font-style: normal;
	font-weight: bold;
	font-size: 15px;
	color: rgba(0,0,0,1);
}
.adu_Class {
	fill: transparent;
}
.adu {
	position: absolute;
	overflow: visible;
	width: 137px;
	height: 72px;
	left: 0px;
	top: 0px;
}
.adv_Class {
	position: absolute;
	width: 139px;
	height: 61px;
	left: 299px;
	top: 0px;
	overflow: visible;
}
.adw_Class {
	border: 0;
	left: 42px;
	top: 21px;
	position: absolute;
	overflow: visible;
	width: 56px;
	white-space: nowrap;
	text-align: left;
	font-family: SF Pro;
	font-style: normal;
	font-weight: bold;
	font-size: 15px;
	color: rgba(0,0,0,1);
}
.adx_Class {
	fill: transparent;
}
.adx {
	position: absolute;
	overflow: visible;
	width: 139px;
	height: 61px;
	left: 0px;
	top: 0px;
}
.ady_Class {
	position: absolute;
	width: 148px;
	height: 61px;
	left: 151px;
	top: 0px;
	overflow: visible;
}
.adz_Class {
	border: 0;
	left: 28px;
	top: 21px;
	position: absolute;
	overflow: visible;
	width: 93px;
	white-space: nowrap;
	text-align: left;
	font-family: SF Pro;
	font-style: normal;
	font-weight: bold;
	font-size: 15px;
	color: rgba(0,0,0,1);
}
.aea_Class {
	fill: transparent;
}
.aea {
	position: absolute;
	overflow: visible;
	width: 148px;
	height: 61px;
	left: 0px;
	top: 0px;
}
.aeb_Class {
	position: absolute;
	width: 151px;
	height: 47px;
	left: 0px;
	top: 14px;
	overflow: visible;
}
.aec_Class {
	fill: rgba(24,61,213,1);
}
.aec {
	position: absolute;
	overflow: visible;
	width: 151px;
	height: 47px;
	left: 0px;
	top: 0px;
}
.aed_Class {
	border: 0;
	left: 47px;
	top: 16px;
	position: absolute;
	overflow: visible;
	width: 59px;
	white-space: nowrap;
	text-align: left;
	font-family: SF Pro;
	font-style: normal;
	font-weight: bold;
	font-size: 15px;
	color: rgba(255,255,255,1);
}
.aee_Class {
	fill: rgba(0,0,0,0);
	stroke: rgba(9,28,172,1);
	stroke-width: 4px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.aee {
	overflow: visible;
	position: absolute;
	width: 701.004px;
	height: 4px;
	left: 578.996px;
	top: 72.5px;
	transform: matrix(1,0,0,1,0,0);
}